@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-optical-sizing: auto;
    font-synthesis-weight: none;
    font-variation-settings: normal;
    font-feature-settings: normal;
}

@keyframes toast-fade-in-and-out {
    0% {
        translate: 0 1rem;
        filter: blur(4px);
        opacity: 0;
    }

    20% {
        translate: 0;
        filter: blur(0);
        opacity: 1;
    }

    80% {
        translate: 0;
        filter: blur(0);
        opacity: 1;
    }

    100% {
        translate: 0 -1rem;
        filter: blur(4px);
        opacity: 0;
    }
}

.toast-fade-in-and-out {
    --tost-lifespan: 1000ms;
    animation: toast-fade-in-and-out var(--tost-lifespan) forwards;
}
